@using Microsoft.AspNetCore.Authentication

@{
    ViewData["Title"] = "json";
}

<h2>json</h2>
<dl>
    <dt>access token</dt>
    <dd>@await ViewContext.HttpContext.GetTokenAsync("access_token")</dd>

    <dt>refresh token</dt>
    <dd>@await ViewContext.HttpContext.GetTokenAsync("refresh_token")</dd>
</dl>